html,
body {
  /* background: gray; */
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

#root {
  height: inherit;
}

h1 {
  color: white;
  font-family: arial;
  font-weight: normal;
}
select {
  background: white;
}
.MuiBox-root-4 {
  color: rgb(255, 255, 255);
  background-color: black;
  padding: 15px;
}

.MuiTableCell-body {
  color: rgb(46, 45, 45);
  padding: 15px;
  font-weight: 100;
}

label {
  cursor: default;
  color: rgb(255, 255, 255);
  ont-weight: 100;
  line-height: 1.5rem;
  font-size: 14px;
}
.MuiTableCell-head {
  color: rgba(255, 255, 255, 0.87);
  font-weight: 100;
  line-height: 1.5rem;
  font-size: 14px;
}

.App {
  text-align: center;
  font-family: Arial;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
